<div class="container">
    <h2>Register</h2>
    <form [formGroup]="registerForm" >
      
      <label>Username:</label>
      <input type="text" formControlName="username" />
      <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
        <span *ngIf="registerForm.get('username')?.errors?.['required']">Username is required.</span>
        <span *ngIf="registerForm.get('username')?.errors?.['minlength']">Username must be at least 4 characters.</span>
      </div>
  
      <label>Password:</label>
      <input type="password" formControlName="password" />
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        <span *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</span>
        <span *ngIf="registerForm.get('password')?.errors?.['pattern']">
          Password must contain 1 uppercase, 1 number, and 1 special character.
        </span>
      </div>
  
      <label>Confirm Password:</label>
      <input type="password" formControlName="confirmPassword" />
      <div *ngIf="registerForm.errors?.['passwordMismatch'] && registerForm.get('confirmPassword')?.touched">
        <span>Passwords must match.</span>
      </div>
      <!-- <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div> -->
      <button type="submit" [disabled]="registerForm.invalid" (click)="onRegister()">Register</button>
    </form>
  </div>
  